<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.1.0.min.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.1.0.min.css" type="text/css">


    <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.1.0.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.1.0.min.js"></script>


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


</head>

<body>

    <div class="container">
        <div class="col-xs-18 text-left">
            <div class="panel panel-primary  col-xs-10 text-center">
                <br>
                {% block main %}
                ANTARES MWL data server
                {% endblock %}
                <br>
                <br>
            </div>
        </div>
     </div>

    <div class="container">
    <div class="col-xs-18 text-left">


            <div class="panel panel-primary col-xs-7    " ,id="Test">
                <div class='plot' , id="plot">
                    <br>

                    <br>
                </div>


            </div>

            <table>
                    <tr>
                        <td align="left"><input type="text" id="ra" required>ra</td>
                    </tr>
                    <tr>
                        <td align="left"><input type="text" id="dec" required>dec</td>
                    </tr>
                    <tr>
                        <td align="left"><input type="text" id="roi" required>roi</td>
                    </tr>
                    <tr>
                        <td align="left"><input type="text" id="index_min" required>index_min</td>
                    </tr>
                    <tr>
                        <td align="left"><input type="text" id="index_max" required>index_max</td>
                    </tr>
                    <tr>
                        <td align="left"><button id="get_plot"> Plot UL</button></td>
                    </tr>
                </table>






    </div>
    </div>



</body>

<script type="text/javascript">
    $(document).ready(function(){

       $("#get_plot").on("click",function(){
         var val1 = $("#ra").val();
         var val2 = $("#dec").val();
         var val3 = $("#roi").val();
         var val4 = $("#index_min").val();
         var val5 = $("#index_max").val();
         $.ajax({
          url: "/plot-ul-envelope",
          type: "get",
           data: { ra: val1, dec: val2, roi: val3, index_min : val4, index_max: val5},
            dataType: 'html',
            success: function(response) {
            $('.plot').html(response);
            },
            error: function(errorThrown){
            alert("There is an error with the UL PLot");
            }
          });
       });
});


</script>


</html>