/.cproject
/.project
/build.*/
/.pydevproject
/.cache/
*.so
*.py[cod]
/.idea
/.DS_Store
*.egg-info
*.egg
/build
develop-eggs
/dist
/eggs
lib
lib64
/.idea
/run_tests
/demoMM-master.zip
/antares_environment/antares_bin/multiMessenger
/antares_environment/antares_src/multiMessenger
/antares_environment/antares_output/*
