.cproject
.project
build.*/
.pydevproject
.cache/
*.so
*.o
*.py[cod]
.idea
.DS_Store
*.egg-info
*.egg
build
develop-eggs
dist
eggs
lib
lib64
.svn
/run_tests
/diagrams
notebooks/*
!notebooks/*ipynb
!notebooks/data
antares_src/multiMessenger
*.gpg
*.swp
.vscode/*